extends ../layout

block head
  script(type="text/javascript", src="/javascripts/controllers/dashboard-controller.js")
  script(type="text/javascript", src="/javascripts/services/record-service.js")
  script(type="text/javascript", src="/javascripts/services/schedule-service.js")

block navbar
  span.navbar-right
    a.navbar-brand(href="/home")
      span.glyphicon.glyphicon-home(title="Home")
    a.navbar-brand(href="/dashboard")
      span.glyphicon.glyphicon-dashboard(title="Dashboard")
    a.navbar-brand(href="/signout")
      span.glyphicon.glyphicon-log-out(title="Sign Out")

block content
  h1 Dashboard
  div(ng-controller="RecordController", ng-init="init('#{user.org}', '#{user.schedule}')")
    div(ng-repeat="record in records") {{record.role}}
      ul
        li(ng-repeat="r in record.records") {{r.content}}
        div(ng-if="record.records.length === 0")
          i None