//- Employee Home Page: view my shifts, all shifts for my role, unclaimed shifts, swap shifts, offer/trade shifts
//- @author Lily Seropian

block head
  script(type="text/javascript", src="/javascripts/controllers/employee-controller.js")
  script(type="text/javascript", src="/javascripts/services/user-service.js")
  script(type="text/javascript", src="/javascripts/services/swap-service.js")

mixin employee(user)
  div(ng-controller="EmployeeController" ng-init="init('#{user._id}')")
    h2 My Shifts
    div(ng-repeat="shift in myShifts")
      div {{shift.dayOfWeek}} {{shift.dateScheduled.substring(0, 10)}}: {{shift.start}} - {{shift.end}} (employee {{shift.responsiblePerson}})
      i(ng-show="shift.upForGrabs") UP FOR GRABS
      i(ng-show="shift.upForSwap") UP FOR SWAP
      div
      input(type="submit", value="Put Up For Swap", ng-click="swap(shift._id)", ng-if="!shift.upForGrabs && !shift.upForSwap")
      input(type="submit", value="Put Up For Grabs", ng-click="putUpForGrabs(shift._id)", ng-if="!shift.upForGrabs && !shift.upForSwap")
    i(ng-show="!myShifts") None

    h2 All Shifts For My Role
    div(ng-repeat="shift in allShiftsForMyRole")
      div {{shift.dayOfWeek}} {{shift.dateScheduled.substring(0, 10)}}: {{shift.start}} - {{shift.end}} (employee {{shift.responsiblePerson}})
    i(ng-show="!allShiftsForMyRole") None

    h2 Unclaimed Shifts
    div(ng-repeat="shift in availableShifts")
      div {{shift.dayOfWeek}} {{shift.dateScheduled.substring(0, 10)}}: {{shift.start}} - {{shift.end}} (employee {{shift.responsiblePerson}})
      input(type="submit", value="Claim", ng-click="claim(shift._id)", ng-if="shift.upForGrabs")
      input(type="submit", value="Swap", ng-click="showShiftsForSwapping(shift.swapId)", ng-if="shift.upForSwap")
      div(ng-repeat="swapShift in myShiftsICanSwap[shift.swapId]")
        i {{swapShift.dayOfWeek}} {{swapShift.dateScheduled.substring(0, 10)}}: {{swapShift.start}} - {{swapShift.end}} (employee {{swapShift.responsiblePerson}})
        input(type="submit", value="Offer For Swap", ng-click="proposeSwap(shift.swapId, swapShift._id)")
    i(ng-show="!availableShifts") None

    h2 Swap Proposals
    div(ng-repeat="swap in swapProposals")
      div Shift Offered In Return: {{swap.shiftOfferedInReturn}}
      input(type="submit", value="Accept", ng-click="acceptSwap(swap._id)")
      input(type="submit", value="Reject", ng-click="rejectSwap(swap._id)")
    i(ng-show="!swapProposals") None