//- Page Header (for managers and employees)
//- @author Lily Seropian, Anji Ren

extends layout

block head
  include manager/manager.jade
  include employee/employee.jade
  include navbar.jade

  script(type="text/javascript", src="/javascripts/services/shift-service.js")
  script(type="text/javascript", src="/javascripts/services/template-shift-service.js")

block navbar
  +logged-in-navbar(user.schedule === undefined)

block content
  h1 Welcome, #{user.name}!

  if user.schedule
    +employee(user)
  else
    +manager(user)