//- Navigation bar icons for a logged in user.
//- @author Lily Seropian

mixin logged-in-navbar(isManager)
  span.navbar-right
    a.navbar-brand(href="/home")
      span.glyphicon.glyphicon-home(title="Home")
    if isManager
      a.navbar-brand(href="/shift")
        span.glyphicon.glyphicon-calendar
    a.navbar-brand(href="/dashboard")
      span.glyphicon.glyphicon-book(title="Dashboard")
    if isManager
      a.navbar-brand(href="/edit")
        span.glyphicon.glyphicon-edit
    a.navbar-brand(href="/settings")
      span.glyphicon.glyphicon-user(title="Settings")
    a.navbar-brand(href="/signout")
      span.glyphicon.glyphicon-log-out(title="Sign Out")