//- Shift display: show all shifts for each role (shifts and template shfits).
//- author: @Lily Seropian

block head
  script(type="text/javascript", src="/javascripts/controllers/template-shift-controller.js")
  script(type="text/javascript", src="/javascripts/services/template-shift-service.js")

  script(type="text/javascript", src="/javascripts/controllers/shift-controller.js")
  script(type="text/javascript", src="/javascripts/services/shift-service.js")

  script(type="text/javascript", src="/javascripts/services/schedule-service.js")


mixin allTemplateShifts(org)
  h2.title Template Shifts

  div(ng-controller="TemplateShiftController" ng-init="init('#{org}')")
    ul(ng-repeat="role in roles")
      li {{role.role}}
        ul(ng-repeat="templateShift in role.templateShifts")
          li {{templateShift.dayOfWeek}}: {{templateShift.start}} - {{templateShift.end}} (employee {{templateShift.responsiblePerson}})
        div(ng-if="role.templateShifts.length === 0") 
          i None

mixin allShifts(org)
  h2.title Shifts
  div(ng-controller="ShiftController" ng-init="init('#{org}')")
    ul(ng-repeat="role in roles")
      li {{role.role}}
        ul(ng-repeat="shift in role.shifts")
          li {{shift.dayOfWeek}}: {{shift.start}} - {{shift.end}} (employee {{shift.responsiblePerson}})
        div(ng-if="role.shifts.length === 0") 
          i None