extends layout
block head
    include mixins/css.jade
    +css("main")
    +css("shift")

    script(type="text/javascript", src="javascripts/controllers/home-controller.js")

    include mixins/shift-display.jade
    include mixins/edit-org.jade

block content
    div(ng-controller='HomeController')
        div.container
            div.row
                div.col-sm-6.col-md-4.col-md-offset-4
                    #user
                        h1.text-center.login-title Welcome #{user.name}. Check your details below:
                            div.signup-wall
                                ul.user-details
                                    li Name: #{user.name}
                                    li Email: #{user.email}
                                    li Organization: #{user.org}
                            div
                                a(href="/signout", class="text-center") Sign Out
                            div
                                a(ng-click="goToPage('home')", href="") Home
                            div
                                a(ng-click="goToPage('editOrg')", href="") Edit Organization
        div(ng-if="page=='home'")
            +shiftDisplay("shiftDisplay")
        div(ng-if="page=='editOrg'")
            +editOrg(user.org)