extends layout

block content
  h1 Register as a user of a new organization
  form(action="/signup", method="POST")
    div
      label(for="inputName") Name
      input(id="inputName", type="text", name="name", placeholder="Name", required, autofocus)
    div
      label(for="inputPassword") Password
      input(id="inputPassword", type="password", name="password", placeholder="Password", required)
    div
      label(for="inputEmail") Email
      input(id="inputEmail", type="email", name="email", placeholder="Email", required)
    div
      label(for="inputOrg") Organization
      input(id="inputOrg", type="text", name="org", placeholder="Organization", required, autofocus)
    div
      label(for="inputType") Account Type
      input(id="inputType", type="text", name="userType", placeholder="User Type", required, autofocus)
      p "Manager" or "Employee"
    div
      label(for="inputRole") Role
      input(id="inputType", type="text", name="userRole", placeholder="Employee Role", autofocus)
      p (Only used when creating an employee)
    input(type="submit") Register