//- Mixin for Organization editing
//- author: @Lily Seropian

block head
    script(type="text/javascript", src="/javascripts/controllers/edit-org-controller.js")
    script(type="text/javascript", src="/javascripts/services/edit-org-service.js")

mixin editOrg(org)
    div(ng-controller="EditOrgController")
        h3 Existing Roles
        div(ng-repeat="role in roles")
            li {{role.role}}
        
        h3 Add Role
        input(type="text", placeholder="Role Name", ng-model="roleName")
        input(type="submit", ng-click="createSchedule('#{org}')")