mixin manager(user)
    div
        a(ng-click="goToPage('home')", href="") Home
    div
        a(ng-click="goToPage('editOrg')", href="") Edit Organization

    div(ng-if="page=='home'")
        +templateShiftDisplay(user.org)
        +shiftDisplay(user.org)
    div(ng-if="page=='editOrg'")
        +editOrg(user.org)