//- Mixin for Shift display
//- author: @Lily Seropian, Vicky Gong

block head
    script(type="text/javascript", src="/javascripts/controllers/shifts-controller.js")

mixin shiftDisplay(org)
    div(ng-controller="ShiftController" ng-init="init('#{org}')")
        div(ng-repeat="role in roles")
            h2 {{role.role}}
            h3.title Shifts
            div(ng-repeat="shift in role.shifts")
                div {{shift.dayOfWeek}}: {{shift.start}} - {{shift.end}} (employee {{shift.responsiblePerson}})
            div.error(id='errorBox')
            div.shiftItemContainer

