//- Mixin for TemplateShift display
//- author: @Lily Seropian

block head
    script(type="text/javascript", src="/javascripts/controllers/template-shift-controller.js")
    script(type="text/javascript", src="/javascripts/services/schedule-service.js")
    script(type="text/javascript", src="/javascripts/services/template-shift-service.js")

mixin templateShiftDisplay(org)
    div.templateShiftDisplay(data-ng-controller="TemplateShiftController" ng-init="init('#{org}')")
        div(ng-repeat="role in roles")
            h2 {{role.role}}
            h3.title Template Shifts
            div(ng-repeat="templateShift in role.templateShifts")
                div {{templateShift.dayOfWeek}}: {{templateShift.start}} - {{templateShift.end}} (employee {{templateShift.responsiblePerson}})
            div.error(id='errorBox')
            div.templateShiftItemContainer
