head
    link(rel="stylesheet", href="stylesheets/shift-calendar/shift-calendar.css")
              
mixin shift-calendar()
    div(id="shift-calendar")
        div.cal-column
            div.title Sunday
            div.events
        div.cal-column
            div.title Monday
            div.events
        div.cal-column
            div.title Tuesday
            div.events
        div.cal-column
            div.title Wednesday
            div.events
        div.cal-column
            div.title Thursday
            div.events
        div.cal-column
            div.title Friday
            div.events
        div.cal-column
            div.title Saturday
            div.events