head
    link(rel="stylesheet", href="bootstrap-calendar/calendar.css")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.10.2.js")
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css")
    script(type="text/javascript", src="http://code.jquery.com/ui/1.11.2/jquery-ui.js")
    script(type="text/javascript", src="bootstrap-calendar/underscore.js")
    script(type="text/javascript", src="bootstrap-calendar/calendar.js")
              
mixin shift_calendar()
    div(id="calendar" class="cal-context")