head
    link(rel="stylesheet", href="stylesheets/shift-calendar/shift-calendar.css")
    script(type="text/javascript", src="/javascripts/controllers/manager-schedule-controller.js")

mixin shift-calendar()
    div(id="shift-calendar" ng-controller="ManagerScheduleController")
        div.cal-column
            div.cal-col-title 
            div.events
                div.event-box(data-ng-repeat="hour in ['8am', '9am', '10am', '11am', '12pm']") {{hour}}
        div.cal-column(data-ng-repeat="day in ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']")
            div.cal-col-title {{day}}
            div.events
                div.event-box(data-toggle="modal" data-target="#editShiftModal"
                    data-start-time="{{hour}}" 
                    data-end-time="{{hour+1}}" 
                    data-day-week="{{day}}"
                    data-ng-repeat="hour in [8,9,10,11,12]")

    div.modal.fade#editShiftModal
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button(type="button" class="close" data-dismiss="modal")
                        span(aria-hidden="true") &times;
                        span.sr-only Close 
                    h4.modal-title Modal title 
                div.modal-body
                    p One fine body 
                div.modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") Close 

                        


       