//- Edit Organization: view and add roles
//- author: @Lily Seropian

block head
  script(type="text/javascript", src="/javascripts/controllers/manager-edit-controller.js")

mixin editUsers()
  div(ng-controller="ManagerEditController", ng-init="init('#{user.org}')")
    div(ng-show="tab==='Managers'")
      input(type="submit", value="Employees", ng-click="tab='Employees'")
      input(type="submit", value="Add", ng-click="showAddManager = true")
      div(ng-show="showAddManager")
        input(type="text", placeholder="Name", ng-model="name")
        input(type="text", placeholder="Email", ng-model="email")
        input(type="submit", value="Submit", ng-click="showAddManager = false; createManager(name, email)")
      h3 Managers
      span Name
      span Email
      div(ng-repeat="manager in managers")
        span {{manager.name}}
        span {{manager.email}}

    div(ng-show="tab==='Employees'")
      input(type="submit", value="Managers", ng-click="tab='Managers'")
      input(type="submit", value="Add", ng-click="showAddEmployee = true")
      div(ng-show="showAddEmployee")
        input(type="text", placeholder="Name", ng-model="name")
        input(type="text", placeholder="Email", ng-model="email")
        select(name="role", ng-model="role")
          option(ng-repeat="(scheduleId, roleName) in schedules", ng-value="roleName") {{roleName}}
        input(type="submit", value="Submit", ng-click="showAddEmployee = false; createEmployee(role)")
      h3 Employees
      span Name
      span Email
      span Role
      div(ng-repeat="employee in employees")
          div(ng-if="employee.name !== 'None'")
            span {{employee.name}}
            span {{employee.email}}
            span {{schedules[employee.schedule]}}