//- Manager Home Page: choose to view shifts or edit organization
//- @author Lily Seropian

block head    
  include home.jade
  include shift-calendar.jade

  script(type="text/javascript", src="/javascripts/controllers/manager-controller.js")
  script(type="text/javascript", src="/javascripts/services/schedule-service.js")

mixin manager(user)
  +shift-calendar(user.org)

  hr
  +allShifts(user.org)
  hr