//- Edit Organization: view and add roles
//- author: @Lily Seropian

mixin editOrg(org)
  hr
  h3 Existing Roles
  div(ng-repeat="role in roles")
    li {{role.role}}
  h3 Add Role
  input(type="text", placeholder="Role Name", ng-model="roleName")
  input(type="submit", ng-click="createSchedule(roleName)")
  hr