//- Shift display: show all shifts for each role (shifts and template shfits).
//- author: @Lily Seropian

mixin allTemplateShifts(org)
  h2.title Template Shifts
  ul(ng-repeat="role in roles")
    li {{role.role}}
      ul(ng-repeat="templateShift in role.templateShifts")
        li {{templateShift.dayOfWeek}}: {{templateShift.start}} - {{templateShift.end}} (employee {{templateShift.responsiblePerson}})
      div(ng-if="role.templateShifts.length === 0") 
        i None
  div(ng-if="roles.length === 0")
    i None

mixin allShifts(org)
  h2.title Shifts
  ul(ng-repeat="role in roles")
    li {{role.role}}
      ul(ng-repeat="shift in role.shifts")
        li {{shift.dayOfWeek}}: {{shift.start}} - {{shift.end}} (employee {{shift.responsiblePerson}})
      div(ng-if="role.shifts.length === 0") 
        i None
  div(ng-if="roles.length === 0")
    i None