block head    
  include edit-org.jade
  include home.jade

  script(type="text/javascript", src="/javascripts/controllers/manager-controller.js")
  script(type="text/javascript", src="/javascripts/services/schedule-service.js")

mixin manager(user)
  div(ng-controller="ManagerController" ng-init="init('#{org}')")
    input(type="submit", ng-click="currentPage = 'Home'", ng-show="currentPage !== 'Home'", value="Home")
    input(type="submit", ng-click="currentPage = 'Edit'", ng-show="currentPage !== 'Edit'", value="Edit Organization")

    div(ng-switch on="currentPage")
      div(ng-switch-when="Home")
        hr
        +allTemplateShifts(user.org)
        hr
        +allShifts(user.org)
        hr
      div(ng-switch-when="Edit")
        +editOrg(user.org)