block head    
  include edit-org.jade
  include home.jade

mixin manager(user)
  div(ng-init="page = 'home'")
    input(type="submit", ng-click="page = 'home'", value="Home", ng-show="page !== 'home'")
    input(type="submit", ng-click="page = 'editOrg'", value="Edit Organization", ng-show="page !== 'editOrg'")

    div(ng-if="page=='home'")
      hr
      +allTemplateShifts(user.org)
      hr
      +allShifts(user.org)
      hr

    div(ng-if="page=='editOrg'")
      +editOrg(user.org)