//- Login Page, with link to create a new account
//- @author Lily Seropian, Anji Ren

extends ../layout

block content
  h1 Sign in
  form(class="form-signin", action="/login", method="POST")
    input(type="text", name="email", placeholder="Email", required, autofocus)
    input(type="text", name="org" placeholder="Organization", required, autofocus)
    input(type="password", name="password" placeholder="Password", required)
    input(type="submit", value="Sign in")
  br
  a(href="/signup") Create An Account