#shift-schedule{
    border: none;
    text-align: center;
}

#shift-schedule .heading {
    font-family: 'Bitter';
    font-weight: 700;
}

#shift-schedule .time-label {
    color: #ffb500;
    text-align: right;
}

.schedule-tabs-container {
    text-align: center;
    margin-bottom:10px;
}

#shift-schedule .cal-col-title {
    min-height: 20px;
    text-transform: uppercase;
}

#shift-schedule .cal-column{
    vertical-align: top;
    display: inline-block;
    padding: 10px;
    max-width:150px;
    min-width: 100px;
    margin: 0 1px;
    border: 1px solid #ffc40f;
}

#shift-schedule .event-box {
    min-width: 100px;
    max-width: 100px;
    height: 80px;
    margin-bottom: 1px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    overflow: scroll;
}

.shift {
    border-bottom: 1px solid gray;
}

.shift:hover {
    background: #b1c0bc;
}
.add-shift {
    width: 100%;
    background: #fead77;
    color: white;
    font-size: 0.8em;
}

.add-shift:hover {
    background: #ffcd88;
}

#role-name-label {
    margin-right: 1em;
}

#weekPicker {
    text-align: center;
    font-family: 'Bitter';
    font-weight: 500;
    font-size: 16pt;
    margin-bottom: 10px;
}

#weekPicker .dropdown{
    display: inline-block;
}
